/* 
Elias Johansson
A01
*/

/*HEADER*/
.header{
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
}

.header_container{
  margin: 0%;
  color: white;
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logo_container{
  width: 33%;
  height: 100%;
}
.logo_container img{
  width: 189px;
  display: flex;
}

.header_container{
  padding: 10px;
}
.header_container h1{
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: white;
  display: flex;
}

.header_container label{
  margin-block-start: 0em;
  margin-block-end: 0em;
  height: 100%;
  color: white;
  display: flex;
}

.header_container h2{
  margin-block-start: 0em;
  margin-block-end: 0;
  height: 100%;
  color: white;
}

.navbar_container{
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.navbar{
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar a{
  display: block;
  color: white;
  padding: 8px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #555;
  color: white;
}

/*MAIN */

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_content_container{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.article_image_container{
  display: inline;
}

.article_image_container figure{
  float: left;
  border: solid 1px black;
  width: 200px;
  height: 200px;
}

.article_image_container p{
  text-align: justify;
}

.article_text_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.article_footer{
  margin: 15px;
  width: 50%;
  border: solid 1px black;
  display: flex;
  flex-direction: row;
}

.article_footer_text_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*FOOTER*/
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer p{
  padding: 5px;
  color: white;
}

.footer_text_container{
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}